.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Input-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  align-items: flex-end;
  position: fixed;
  bottom: 20px;
  width: calc(100vw - 20px);
}

.textBox {
  height: calc(100vh - 200px);
  padding: 5px 5px 5px 5px;
  overflow: auto;
}

ul {
  list-style-type: none;
  padding: 0px 10px 5px 10px
}

li {
  margin-top: 5px;
  width: 100%;
  display:inline-block;
}

.User-text {
  float: right;
  width: fit-content;
  background-color: #3f51b5 !important;
  color: #ffffff !important;
  max-width: calc(0.45*100vw);
}

.Bot-text {
  float: left;
  width: fit-content;
  background-color: #3e4042 !important;
  color: #e4e6eb !important;
  max-width: calc(0.45*100vw);
}

.Message-box {
  padding: 3px 5px 3px 5px;
  text-align: left;
  padding: 10px;
}

.Text-field {
  width: calc(100% - 147.5px);
}

.Send-button {
  width: 100px;
}